USE MASTER
GO
	IF EXISTS(SELECT NAME FROM SYSDATABASES WHERE NAME='ToDo')
		DROP DATABASE ToDo
GO
	CREATE DATABASE ToDo
GO
	USE ToDo
GO
/****** Object:  Table [dbo].[TaskModel]    Script Date: 7/19/2022 12:01:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskModel](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[IsCompleted] [bit] NULL,
 CONSTRAINT [PK_TaskModel] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
